body,
html {
	margin: 0;
	padding: 0;
	background: black;
	overflow: hidden;
	height: 100%;
}

.video-container {
	aspect-ratio: 16 / 9;
	width: 100vw;
	max-height: 100vh;
	margin: auto;
	position: relative;
	background: black;
}

.video {
	width: 100%;
	height: 100%;
	object-fit: contain;
	background: black;
	position: absolute;
	top: 0;
	left: 0;
}

.video.active {
	opacity: 1;
	z-index: 1;
}

.arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2rem;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 100%;
	padding: 0.75rem;
	cursor: pointer;
	z-index: 2;
}

.arrow:hover {
	background-color: rgba(255, 255, 255, 0.1);
	transform: translateY(-50%) scale(1.1);
}

.action-button {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.7rem 1.5rem;
	font-size: 1.1rem;
	color: white;
	background: rgba(0, 0, 0, 0.6);
	border: 2px solid white;
	border-radius: 10px;
	cursor: pointer;
	z-index: 2;
	transition: background-color 0.3s ease;
}

.action-button:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

#back-button {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(255, 255, 255, 0.1);
	color: white;
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 1rem;
	cursor: pointer;
	z-index: 2;
	transition: background-color 0.3s;
}

#back-button:hover {
	background: rgba(255, 255, 255, 0.3);
}

#overlay-video-container {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 40vw; /* adapte la taille au ratio voulu */
	aspect-ratio: 16 / 9;
	pointer-events: none;
	z-index: 10;
	display: block;
}

#overlay-video-container[hidden] {
	display: none;
}

#overlay-video {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.left {
	left: 20px;
}

.right {
	right: 20px;
}

.relative-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

#title {
	position: absolute;
	top: 28.8%;
	left: 59.2%;
	transform: translate(-50%, -50%) rotateX(40deg) skewX(-10deg);
	font-size: 0.93vw;
	font-family: 'Times New Roman', Times, serif;
	letter-spacing: -0.001em;
	color: #282626;
	z-index: 3;
	pointer-events: none;
}

#1st-line {
	position: absolute;
	top: 28.8%;
	left: 59.2%;
	transform: translate(-50%, -50%) rotateX(40deg) skewX(-10deg);
	font-size: 0.93vw;
	font-family: 'Times New Roman', Times, serif;
	letter-spacing: -0.001em;
	color: #282626;
	z-index: 3;
	pointer-events: none;
}